body {
    margin: 50px;
    background: url(wallpaper.jpg) no-repeat center center fixed;
    background-size: cover;
    color: lightskyblue;
    padding: 55px;
}

.container {
    background-color: rgba(255, 240, 248, 0.95);
    max-width: 700px;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 15px lightskyblue;
    text-align: center;
    font-family: Tahoma;
}

#foto-profile{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid lightskyblue;
    margin-bottom: 20px;
}

nav {
    margin-top: 30px;
}

nav a{
    margin: 0 10px;
    text-decoration: none;
    color: lightskyblue;
    font-weight: bold;
}

nav a:hover{
    text-decoration: underline;
}